<h1>Import list</h1>

<%= form_tag({:controller => 'lists', :action => 'new'}, :method => "get") do %>
  <div class="field">
    <%= label_tag :website %><br>
    <%= select_tag :website, options_for_select(['amazon.co.uk']) %>
  </div>
  <div class="field">
    <%= label_tag :identifier %><br>
    <%= text_field_tag :identifier %>
  </div>
  <div class="actions">
    <%= submit_tag 'Import List', :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', current_user %>
