<p>
  <strong>Url:</strong>
  <%= @list.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @list.updated %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user_id %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
