<% provide(:title, 'Sign up') %>
<h1>Sign up to <img src="/images/coin-small.png" style="margin-top:-8px;"/> Shine Get</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, :html => { class: 'form-horizontal' } ) do |f| %>
        <%= render 'shared/error_messages' %>

        <div class="control-group">
        <%= f.label :fullname, :class => 'control-label' %>
          <div class="controls">
        <%= f.text_field :fullname %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :username, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :username %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, 'Confirmation', :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back', root_path %>
