<% provide(:title, @user.username) %>
<div class="user-details">
  <% if signed_in? %>
      <div class="tools">
        <%= link_to 'Edit', edit_user_path(@user) %>
      </div>
  <% end %>

  <h1>
    <%= gravatar_for @user %>
    <%= @user.username %>
  </h1>

  <p>
    <strong>Fullname:</strong>
    <%= @user.fullname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

</div>

  <div class="itemlist">
    <% if @user.lists.any? %>
      <% @user.lists.each do |list| %>

        <h3 class="name">
          <%= list.name %> (<%= list.items.count %> items)

        </h3>
        <div style="clear:both"></div>
          <% if list.url.present? %>
          <span class="url"> - <%= list.url %></span>
        <% end %>

        <% if list.items.any? %>
          <ul class="items">
            <%= render list.items %>
          </ul>
          <div class="after-items"></div>
        <% end %>

      <% end %>
    <% end %>
  </div>

<div style="clear:both;"></div>

