<% provide(:title, @user.username) %>

<script>
    function facebook_share() {
        FB.ui({
            method: 'feed',
            link: '<%= url_for(:id => @user, :only_path => false) %>',
            name: 'I just updated my wish list!',
            caption: 'Check out <%= @user.fullname %>\'s wish list at ShineGet.me',
            picture: '<%= gravatar_url_for @user %>'
        }, function(response){});
    }

    function twitter_share() {
        window.open('http://twitter.com/share?url=<%= CGI::escape(url_for(:id => @user, :only_path => false)) %>' +
                '&text=I%20just%20updated%20my%20wish%20list%20at%20ShineGet.me&',
                'twitterwindow', 'height=450, width=550, toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
    }
</script>

<div class="user-details">
  <% if signed_in? %>
    <div class="tools">
      <%= link_to 'Edit', edit_user_path(@user) %>
    </div>
  <% end %>

  <h1>
    <%= gravatar_for @user %>
    <%= @user.username %>
  </h1>

  <p>
    <strong>Fullname:</strong>
    <%= @user.fullname %>
  </p>

  <% if current_user?(@user) %>
      <div class="share-list">
        <a href="javascript:facebook_share()"><img class="share-item" src="/images/social/facebook.png" /></a>
        <a href="javascript:twitter_share()"><img class="share-item" src="/images/social/twitter.png" /></a>
      </div>
  <% end %>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

</div>

  <div class="itemlist">
    <% if @user.lists.any? %>
      <% @user.lists.each do |list| %>

        <h3 class="name">
<!--
          <%= list.name %> (<%= list.items.count %> items)
-->
          <% if list.is_local? && current_user && current_user == @user %>
            <form action="/lists/<%= list.id %>/items/findfromurl">
              <span class="input-append" style="float:right; width: 100%; text-align: center">
                <input class="span2" id="appendedInputButton" type="text" name="url" style="width: 80%"/>
                <input type="submit" class="btn btn-primary" type="button" value="Add Item" />
              </span>
            </form>
          <% end %>
        </h3>
<!--
        <div style="clear:both"></div>
          <% if list.url.present? %>
          <span class="url"> - <%= list.url %></span>
        <% end %>
-->
        <% if list.items.any? %>
          <ul class="items">
            <%= render list.items %>
          </ul>
          <div class="after-items"></div>
        <% end %>

      <% end %>
    <% end %>
  </div>

<div style="clear:both;"></div>
