<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

  <div class="itemlist">
    <% if @user.lists.any? %>
        <% @user.lists.each do |list| %>

              <h3 class="name"><%= list.name %> (<%= list.items.count %> items)
                <% if list.url.blank? && current_user && current_user == @user %>
                  &nbsp;<a href="/items/new?list=<%= list.id %>" class="btn btn-small btn-primary">Add Item</a>
                <% end %>
              </h3>
                <% if (!list.url.blank?) %>
                <span class="url"> - <%= list.url %></span>
                <% end %>

                <% if list.items.any? %>
                    <% items = list.items.paginate(page: params[:page]) %>
                    <ol class="items">
                      <%= render items %>
                    </ol>
                    <%= will_paginate items %>
                <% end %>

        <% end %>
    <% end %>
  </div>

<div style="clear:both;" />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
