<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

  <div class="itemlist">
    <% if @user.lists.any? %>
        <h3>Lists</h3>
        <ol class="lists">
        <% @user.lists.each do |list| %>
              <li>
                <span class="name"><%= list.name %></span>
                <span class="url">(<%= list.url %>)</span>

                <% if list.items.any? %>
                    <% items = list.items.paginate(page: params[:page]) %>
                    <h3>Items (<%= items.count %>)</h3>
                    <ol class="items">
                      <%= render items %>
                    </ol>
                    <%= will_paginate items %>
                <% end %>

              </li>
        <% end %>
      </ol>
    <% end %>
  </div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
