<%= form_for(@item) do |f| %>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <% if !@item.list %>
  <div class="field">
    <%= f.label :list_id %><br>
    <%= f.number_field :list_id %>
  </div>
  <% else %>
    <%= f.hidden_field :list_id, value: @item.list.id %>
  <% end %>
  <div class="actions">
    <%= f.submit 'Add Item', :class => 'btn btn-primary' %>
  </div>
<% end %>
