<li class="item-row <%= cycle('odd', 'even') -%>">
  <% if item.imgurl.present? %>
      <div class="thumbnail" style="background-image: url('<%= item.imgurl %>');"></div>
  <% end %>

  <span class="buygroup">
    <a href="<%= item.url %>" class="buy btn btn-primary" target="_blank">Buy</a>
    <% if has_price?(item) %>
    <span class="price <%= css_class_for_current_price(item) %>">£<%= '%.2f' % current_price?(item) %></span>
    <% end %>
    <% if show_old_price?(item) %>
      <span class="price oldprice">(was £<%= '%.2f' % item.price %>)</span>
    <% end %>
  </span>

  <% if current_user?item.list.user %>
  <span class="actions">
    <%= link_to 'Edit', edit_item_path(item) %> <span class="divide">|</span>
    <%= link_to 'Remove', item, method: 'delete' %>
  </span>
  <% end %>

  <span class="title"><%= item.title %></span>

  <span class="notes"><%= item.notes %></span>

</li>
