<li class="item-row <%= cycle('odd', 'even') -%>">
  <% if item.imgurl.present? %>
    <div class="thumbnail" style="background-image: url('<%= item.imgurl %>');">
      <% if signed_in? %>
      <div class="share">
        <a href="javascript:facebook_share_item<%= item.id %>()"><img class="share-item" src="/images/social/facebook.png" /></a>
        <a href="javascript:twitter_share_item<%= item.id %>()"><img class="share-item" src="/images/social/twitter.png" /></a>
      </div>
      <div class="share-background"></div>
      <% end %>
    </div>
  <% end %>

  <span class="buygroup">
    <a href="<%= buy_url item %>" class="buy btn btn-primary" target="_blank">Buy</a>
    <% if has_price?(item) %>
    <span class="price <%= css_class_for_current_price(item) %>">£<%= '%.2f' % current_price?(item) %></span>
    <% end %>
    <% if show_old_price?(item) %>
      <span class="price oldprice">(was £<%= '%.2f' % item.price %>)</span>
    <% end %>
  </span>

  <% if current_user?item.list.user %>
  <span class="actions">
    <%= link_to 'Edit', edit_item_path(item) %> <span class="divide">|</span>
    <%= link_to 'Remove', item, method: 'delete' %>
  </span>
  <% end %>

  <span class="title"><%= item.title %></span>

  <span class="notes"><%= item.notes %></span>

  <script>
    function facebook_share_item<%= item.id %>() {
      FB.ui({
        method: 'feed',
        link: '<%= item_url item %>',
        name: '<%= item.title %>',
        caption: 'I just added this to my wish list',
        picture: '<%= item.imgurl %>'
      }, function(response){});
    }

    function twitter_share_item<%= item.id %>() {
      window.open('http://twitter.com/share?url=<%= CGI::escape(item_url item) %>' +
              '&img=<%= CGI::escape(item.imgurl) %>' +
              '&text=I%20just%20added%20"<%= CGI::escape(item.title) %>"%20to%20my%20@ShineGetMe%20wish%20list&',
              'twitterwindow', 'height=450, width=550, toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
    }
  </script>
</li>
