<li>
  <% if !item.imgurl.blank? %>
    <img style="width:100px; float:left;" src="<%= item.imgurl %>" />
  <% end %>
  <span class="url"><a href="<%= item.url %>" target="_blank"><%= item.title %></a></span>
  <span class="price">(£<%= item.price %>)</span>
  <br />
  <span class="notes"><%= item.notes %></span>
</li>
