<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Notes</th>
      <th>Price</th>
      <th>List</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.url %></td>
        <td><%= item.notes %></td>
        <td><%= item.price %></td>
        <td><%= item.list_id %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_list_item_path %>
