<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>List:</strong>
  <%= @item.list_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
