<% if !@item.imgurl.blank? %>
    <img style="width:100px; float:right;" src="<%= @item.imgurl %>" />
<% end %>

<p>
  <strong>Title:</strong>
  <a href="<%= @item.url %>"><%= @item.title %></a>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>List:</strong>
  <%= @item.list_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
